body {
  border-image-source: url("./sprites/menu.png");
  border-image-slice: 51 36 30 36 fill;
  border-width: 36px;
  border-style: solid;
  margin: 0;
  height: 728px;
  overflow: hidden;
}

#underlay {
  height: inherit;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

#party {
  height: inherit;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: flex-start;

  flex-grow: 1;
}

#sidebar {
  width: 9%;

  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-between;
}

#hints {
  color: white;
  font-family: VT323;
  font-size: 20px;
  word-wrap: break-word;
  hyphens: auto;
}

#gilgamesh {
  image-rendering: pixelated;
}

#gilgamesh img {
  transform: rotate(225deg) translateY(131%) scale(3);
}

#enkidu {
  image-rendering: pixelated;
}

#enkidu img {
  transform: scaleX(-3) scaleY(3) translateY(24px) translateX(-11px);
}

.slot {
  height: 25%;
  image-rendering: pixelated;
  padding: 20px 0px;
}

.sprite {
  height: 100%;
  transform: scaleX(-1);
}
